<%- include ('partials/header') %>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/images/bg_1.jpg')">
  <div class="container pt-3">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0">About Us</h2>
        <p>Application Development - Final Project</p>
      </div>
    </div>
  </div>
</div>


<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="/">Home</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">About Us</span>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center">
      <div class="col-lg-4 mb-5">
        <h2 class="section-title-underline mb-5">
          <span>Members</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">

        <div class="feature-1 border person text-center">
          <img src="/images/tillaman.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image"
            class="img-fluid">
          <div class="feature-1-content">
            <h2>Ryan Tillaman</h2>
            <span class="position mb-3 d-block">Chief Executive Officer</span>
            <p> I program as a hobby or for small side jobs and love the challenge. I've been programming since 1999.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
        <div class="feature-1 border person text-center">
          <img src="/images/llano.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image"
            class="img-fluid">
          <div class="feature-1-content">
            <h2>Kirby Llano</h2>
            <span class="position mb-3 d-block">Programmer</span>
            <p>Computer Science student, Programmer, entrepreneur, Farmer, basketball player, Lover</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
        <div class="feature-1 border person text-center">
          <img src="/images/clark.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image"
            class="img-fluid">
          <div class="feature-1-content">
            <h2>Ceros Clark Ramones</h2>
            <span class="position mb-3 d-block">Game Designer</span>
            <p>Loves to code from time to time, dabbles in digital art and game design as
              well with 80% game and 20% design on the good days.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">

        <div class="feature-1 border person text-center">
          <img src="/images/layag.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image"
            class="img-fluid">
          <div class="feature-1-content">
            <h2>John Dielou Layag</h2>
            <span class="position mb-3 d-block">Game Developer</span>
            <p>I am an aspiring game developer, and I enjoy any sort of
              contact sports, some video games and watching movies</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
        <div class="feature-1 border person text-center">
          <img src="/images/llosa.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image"
            class="img-fluid">
          <div class="feature-1-content">
            <h2>Andrew Llosa</h2>
            <span class="position mb-3 d-block">Software Developer</span>
            <p>I consider myself a reasonably experienced software developer with a particular interest in
              the human side of software development,</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
        <div class="feature-1 border person text-center">
          <img src="/images/matt.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Matthew Artiga</h2>
            <span class="position mb-3 d-block">Programmer</span>
            <p> A father of one child. I love cooking and Rocket Science</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
        <div class="feature-1 border person text-center">
          <img src="/images/ebin.jpg" style="height:100px; width:100px; object-fit:cover" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Kirby Ebin</h2>
            <span class="position mb-3 d-block">Programmer</span>
            <p> I love Computer Science and Application Development</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include ('partials/footer') %>