<%- include ('partials/header') %>


<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
  <div class="container pt-3">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0">Contact</h2>
        <p>Application Development - Final Project</p>
      </div>
    </div>
  </div>
</div>


<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="/">Home</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">Contact</span>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="fname"><strong>CORPORATE OFFICE</strong> </label>
        <p>AMA Building 2, 59 Panay Ave., Quezon City</p>
        <p>(02) 8737-5555</p>
        <p>You may pre-register online and our Admission Team will contact you to answer all your questions</p>
      </div>
      <div class="col-md-6">
        <img src="/images/aclc3.jpg" alt="">
      </div>

    </div>

  </div>
</div>
<%- include ('partials/footer') %>