<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Dev Finals</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="shadow-sm">
            <div class="bg-blue-300 py-1"></div>
            <nav class="flex items-center justify-between flex-wrap bg-white
                    py-4 mx-auto px-8">
                <div class="flex items-center flex-shrink-0 text-white
                        mr-6">
                    <a class="text-black no-underline hover:text-white
                            hover:no-underline pl-2" href="/">
                        <div class="h-8 w-16 block mx-auto
                                rounded-sm"><strong>ACLC</strong></div>
                    </a>
                </div>
            </nav>
        </header>

        <main class="flex-grow flex justify-center items-center">

            <div class="mx-auto px-4 sm:px-8 py-2 text-center">

                <div class="text-center max-w-lg mx-auto mt-6">
                    <div class="h-4 w-40 block mx-auto
                            rounded-sm">
                        <p class="text-gray-900 font-bold">Final Exam
                            Permits
                        </p>
                    </div>
                    <div class="h-2 w-64 mt-4 block mx-auto
                            rounded-sm text-sm text-gray-600">
                        Application Development</div>

                </div>

                <div class="grid grid-cols-6 gap-4 items-start mt-8
                        mx-auto
                        px-8">

                    <div v-for="(member,i) in members" :key="member.id" class="col-span-6 sm:col-span-6 md:col-span-6
                            lg:col-span-2 xl:col-span-2">
                        <div class="bg-white shadow-lg rounded-lg px-4
                                py-6
                                mx-4 my-4">
                            <div class="mx-auto h-64 bg-gray-200
                                    rounded-md bg-cover">
                                <img class="rounded-md h-full w-full
                                        bg-cover" :src="'/permits/'+member.img" alt="">
                            </div>
                            <div class="h-4 w-40 mt-8 block
                                    mx-auto rounded-sm">
                                {{member.name}}</div>


                        </div>
                    </div>

                </div>
            </div>

        </main>

    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="/js/permit.js"></script>

</html>